[Unit]
Description=Mirai
After=network.target

[Service]
WorkingDirectory=/home/pi/mirai/container-v2/raspberrypi
ExecStart=/usr/local/bin/pnpm start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
