[Unit]
Description=Mirai
After=network.target

[Service]
WorkingDirectory=/boot
ExecStart=/boot/app-linux
Restart=on-failure
User=pi
Environment="DEBUG=mirai:*"

[Install]
WantedBy=multi-user.target
