[Unit]
Description=Mirai
After=network.target

[Service]
WorkingDirectory=/application
ExecStart=/application/app
Restart=on-failure
User=pi
Environment="DEBUG=mirai:*,server:*"

[Install]
WantedBy=multi-user.target
